* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
   

    position: relative;
}

header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
    display: block;
}


.menu{
    display: flex;
    align-items: center;
justify-content: center;
gap: 2rem;
    background-color: #131212;
    list-style: none;
    width: auto;
   padding: 1rem;
  

}
.menu__item{
    color: antiquewhite;
}

.menu__link{
    color: aliceblue;
    text-decoration: none;
    
}

.activ{
    color: goldenrod;
}

.menu__link:active{
    color: inherit;
}

.menu_frist{
    
    display: flex;
    align-items: center;
   
    list-style: none;
    

    padding: 1rem 1.5rem;
    background-color: #222222aa;
    justify-content: flex-end;
    gap: 1.5rem;
color: azure;
    

}

.hero{
    width: 100%;
    height: 85vh;
    background-image: url("/assets/img/background-img/Hi-Fi_logo.png");
    background-position: center;
}
.blue{
    color: aqua;
}

.showroom{
    width: 100%;
    background-image: url("/assets/img/background-img/background-img-golden-soundwave.jpg");
    background-position: center;
    background-size: cover;

    text-transform: uppercase;
    color: white;
   font-size: 3rem;
    text-align: center;
    padding: 5rem;
   
}
  
