@import url("/assets/css/header.css");
@import url("/assets/css/hero.css");
@import url("/assets/css/socialMedia.css");
@import url("/assets/css/cardContainer.css");
@import url("/assets/css/gallary.css");
@import url("/assets/css/brands.css");
@import url("/assets/css/footer.css");

:root{
    --color-brand: #a39161;
    --color-darkest: #000;
    --color-dark: #111;
    --color-mid: #999;
    --color-light: #e1e1e1;
    --color-lightest: #fff;

    --color-blue: #0070b2;
    --color-pink: #c0ab9f;

    --tranparent-brand: #a39161aa;
    --tranparent-darkest: #000000aa;
    --tranparent-lightest: #ffffffaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Rubik', sans-serif;
}

header{
    position: relative;
}

.shopFontPage {
    background-color: var(--color-darkest);
}

img {
    width: 100%;
    height: auto;
    display: block;
}