.brandsPage {
    background-image: url(/assets/img/background-img/background-img-green.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.brands{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    
    border: 2rem solid var(--color-lightest);
    margin: 0 10%;

    color: var(--color-lightest);
}

.brands__list{
    background-color: var(--color-darkest);
    padding: 2rem;
    text-transform: uppercase;
}

.brands__list--tekst{
    margin-bottom: 2rem;
}

.brands__info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--color-lightest);

    padding: 1.5rem;
    background-image: url("/assets/img/background-img/background-img-front-page-small-1.jpg");
}

.brands__info--header, .brands__info--link, .brands__list--tekst{
    color: var(--color-brand);
    text-transform: uppercase;
}

.brands__list--logos{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    list-style: none;
}

.brands__list--logos li{
    display: flex;
    align-items: center;
    height: 3em;
    overflow: hidden;
}

.brands__list--logos li img {height: 3em; }

.brands__list--logos li:nth-of-type(3) img, .brands__list--logos li:nth-of-type(9) img {height: 15em;}
.brands__list--logos li:nth-of-type(4) img {height: 6em;}
.brands__list--logos li:nth-of-type(6) img, .brands__list--logos li:nth-of-type(8) img  {height: 4em;}

.brands__list--logos img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(58deg) brightness(106%) contrast(101%);
}