.categoryNarrator{
    color: var(--color-brand);
    text-transform: capitalize;

    position: absolute;
    inset: 7.5rem auto auto 1rem;
}

.categoryNarrator__narrator{
    color: var(--color-darkest);
}

.categoryGrid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;

    padding: 9rem 1rem;
}

.category__heading{
    grid-area: 1/2/2/3;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    text-transform: uppercase;
}

.sortBox{
    grid-area: 2/2/3/3;

    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    gap: 1rem;
    
    padding: .5rem 1rem 3rem;
    background-color: rgb(191, 189, 189);
}

.sortBox__produktCount{
    justify-self: flex-end;
}

.categorys{
    grid-area: 1/1/5/2;

    background-color: var(--color-light);
    padding: 5vh;
    
    color:var(--color-brand);
}

.categorys li ul {
    text-indent: 1rem;
    list-style: none;
}

.categorys li{
    list-style: none;
    padding: .5rem;
}

.filters{
    grid-area: 5/1/6/2;
    
    background-color: var(--color-light);
    padding: 5vh;
    
    color: var(--color-brand);
}

.filters li{
    padding: .5rem;
    
    list-style: none;
}

.filters h2{
    padding: 2rem;
    
    text-transform: uppercase;
}

.filters h4{
    padding: 1rem;
    
    text-transform: uppercase;
    color: var(--color-dark);
}

.filters h3{
    padding: 1rem;
    
    color: var(--color-dark);
}

.manufacts{
    grid-area: 1/3/4/4;   
}

.manufacts li{
    padding: .3rem;
    
    list-style: none;
    text-transform: uppercase;
}

.manufacts h3{
    text-transform: uppercase;
    color: var(--color-brand);
}

.produktList{
    grid-area: 3/2/7/3;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 1em;

    list-style: none;
    text-transform: uppercase;
    text-align: center;
}

.produktList a {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    height: 100%;

    color: var(--color-darkest);
    text-decoration: none;
}

.produktList img{
    height: 10em;
    object-fit: contain;
}

.produktList__element--price{
    display: flex;
    gap: 1em;
    justify-content: center;

    color: var(--color-brand);
}

.produktList__element--normalPrice{
    color: var(--color-mid);
    text-decoration: line-through;
}

.produktList button{
    padding: .5em 1em;
    background-color: var(--color-brand);
    border: none;

    color: var(--color-lightest);
    text-transform: uppercase;
}