footer{
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    gap: 2em;

    background-color: var(--color-brand);
    padding: 1em;
}

footer li{
    list-style: none;
    transition: .6s;
}

footer a{
    color: inherit;
}

.footer__media li:hover {border-color: transparent;}

.footer__media li:nth-child(1):hover {color: #4267B2;}
.footer__media li:nth-child(2):hover {color: #FF0000;}
.footer__media li:nth-child(3):hover {color: #00acee;}
.footer__media li:nth-child(4):hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
/* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer__menu {
    font-size: 0.7em;
    color: var(--color-dark);
    text-transform: capitalize;
}

.footer_links, .footer__payments, .footer__media{
    display: flex;
    gap: .25em;
    
    color: var(--color-lightest);
}

.footer_links{
    font-size: 0.8em;
}

.footer__media{
    align-self: flex-start;
    margin-top: .4em;
}

.footer__payments{
    display: flex;
    align-items: center;
    justify-self: end;
    gap: .5em;

    height: 2em;
    padding: .5em;
}

.footer__payments img{
    height: 2em;
}

.footer__payments li:first-of-type img, 
.footer__payments li:last-of-type img{
    height: 4em;
}

.footer__media li{
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    padding: .25em;
    border: 1.5px solid var(--color-lightest);
    border-radius: 50%;
    font-size: .7em;
}
