.menu {
    position: absolute;
    z-index: 10;
    width: 100%;

    color: var(--color-lightest);
}

.menu a, .menu a:active{
    color: inherit;
}

.menu__top{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
   
    padding: 1rem 1.5rem;
    background-color: var(--tranparent-darkest);
    
    list-style: none;
}

.menu__top--button{
    background-image: linear-gradient(var(--tranparent-lightest) -100%, var(--color-blue));
    padding: .25em .5em;
    border: 2px solid var(--color-blue);
    border-radius: .5em;

    color: inherit;
    text-transform: capitalize;
}

.menu__top--button span{
    color: var(--color-blue);
    padding: 0 .25em;
}

.menu__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    width: auto;
    padding: 1rem;
    background-color: var(--color-darkest);
    border-top: 1px solid var(--tranparent-brand);
    
    list-style: none;
}

.menu__nav--link{
    text-decoration: none;
    text-transform: uppercase;
}

.menu .activPage{
    color: var(--color-brand);
}

