.productDetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 2em;

    margin: 0 7em;
    padding: 9em 2em 2em;
    box-shadow: inset 0 7em var(--color-darkest);
    background-color: var(--color-lightest);
}

.productDetails__banner{
    grid-area: 1/1/2/3;

    height: 10em;
    object-fit: cover;
}

.productDetails__image{grid-area: 2/1/5/2;}

.productDetails__price{
    display: inline;

    padding: 0 1em;
    
    text-align: end;
    color: var(--color-brand);
}

.productDetails__price--normal{
    padding: 0 1em 0 0;

    color: var(--color-mid);
    text-decoration: line-through;
}

.productDetails__buttons{
    grid-area: 3/2/4/3;

    display: flex;
    gap: .25em;
    flex-wrap: wrap;

    list-style: none;
}

.productDetails__buttons button{
    padding: .5em 1em;
    background-color: var(--color-brand);
    border: none;

    color: var(--color-lightest);
}

.productDetails__additional{grid-area: 4/2/5/3;}
.productDetails__description{grid-area: 5/1/6/2;}

.productDetails th{
    font-weight: 500;
    text-align: start;
}

.productDetails td{
    padding: .5em;

    text-align: end;
}

.productDetails__additinalTable{
    border-collapse: collapse;
    width: 100%;
}

.productDetails__additinalTable, .productDetails__additional th, .productDetails__additional td{
    border: 1px solid var(--color-mid);
}

.productDetails__additional th{
    background-color: var(--color-light);
    padding: .25em .5em;
}

.productDetails__additinalTable td{
    text-align: start;
}

.productDetails h1, .productDetails h2{
    color: var(--color-brand);
    text-transform: uppercase;
}

.productDetails a{
    color: var(--color-brand);
    text-transform: capitalize;
    text-decoration: none;
}

.productDetails__callUs{
    grid-area: 6/1/7/3;

    padding: .5em;
    background-color: var(--color-darkest);

    text-transform: uppercase;
    text-align: center;
}