.socialMedia {
    font-size: 25vh;
    color: var(--color-lightest);
}

.socialMedia ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    height: 55vh;
}

.socialMedia li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.socialMedia li a {
    text-decoration: none;
    color: #fff;
    transition: .6s;
}

.socialMedia__facebook a:hover {
    color: #4267B2;
}

.socialMedia__blog a:hover {
    color: #ff4200;
}

.socialMedia__twitter a:hover {
    color: #00acee;
}

.socialMedia__facebook{background-image: url("/assets/img/background-img/background-img-home.1.jpg");}

.socialMedia__blog{background-image: url("/assets/img/background-img/background-img-front-page-small-2.jpg");}

.socialMedia__twitter{background-image: url("/assets/img/background-img/background-img-front-page-small-1.jpg");}

